@media screen and (max-width: 600px) {
    main {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 10px;
        width: auto;
    }
    button {
        padding: 10px;
        margin: 10px;
        width: 20vw;
        font-size: 1.5rem;
        overflow: hidden;
    }
}